<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tiozão 1.0</title>
</head>
<body>
  <h1>Piadas de tiozão</h1>
  <hr>
  <br>
  <br>
  <p><b>Pergunta:</b> <%= joke.pergunta %></p>
  <p><b>Resposta:</b> <%= joke.resposta %></p>
  <br>
  <br>
</body>
</html>